.pizza {
    padding: 100px 0px 0px 0px
}
nav{
    font-size: 30px;
    width:100%; 
}
nav ul {
    text-align: right;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav>ul>li>a {
    padding: 18px;
}
.button{
    text-align: center;
    margin: 50px;
    margin-left: 300px;
}
footer{
    padding-top:50px;
}